<footer id="footer">
    <div id="footer1" class="container">
        <div class="row">
            <div class="moduletable span2 " id="mod119" data-id="119">
                <div class="bghelper">
                    <h4 class="moduletitle m_title">QUICK LINKS</h4>
                    <div class="modulecontent">
                        <ul class="menu  clearfix">
                            <li class="item-259"><a href="index.php" >Home</a></li>
                            <li class="item-260"><a href="about_us.php" >About ITPD</a></li>
                            <li class="item-262"><a href="news.php" >News</a>
                            </li><li class="item-261"><a href="products/control.php" >Products</a></li>
                            <li class="item-263"><a href="projects.html" >Projects</a></li>
                            <li class="item-264 active"><a href="contact-powertech-switchgear-dubai-uae.html" >Contact Us</a></li>
                        </ul>
                    </div><!-- end modulecontent-->
                </div><!-- end bghelper -->
            </div><!-- end module -->

            <div class="moduletable span4 " id="mod120" data-id="120">
                <div class="bghelper">
                    <h4 class="moduletitle m_title">NEWSLETTER SIGNUP</h4>
                    <div class="modulecontent">
                        <div class="newsletter-signup">
                            <p>By subscribing to our mailing list you will always be update with the latest news from us.</p>
                            <form method="post" id="newsletter_subscribe120" name="newsletter_form">
                                <input type="text" name="name_nl120" id="nl-name" value="" placeholder="your name" /><br>
                                <input type="text" name="email_nl120" id="nl-email" value="" placeholder="email@address" required="required" />
                                <input type="submit" name="submit_nl120" id="nl-submit" value="JOIN US" />
                            </form>
                            <span id="result">Best customer care service</span>
                            <p><small>No spam!</small></p>
                        </div><!-- end newsletter-signup -->
                    </div><!-- end modulecontent-->
                </div><!-- end bghelper -->
            </div><!-- end module -->

            <div class="moduletable span3 " id="mod121" data-id="121">
                <div class="bghelper">
                    <h4 class="moduletitle m_title">ADDRESS</h4>
                    <div class="modulecontent">
                        <div class="custom "  >
                            <p>ITPD LIMITED <br /> P. O. Box 2335, ELDORET, Kenya</p>
                            <p><strong>Tel No: +254 – 7472274 <br /> Fax No : +254 – 7472551 / 7472558</strong><br />
                                Email: <a href="mailto:customercare@itpd.ke">customercare@itpd.ke</a>
                            </p>
                            <a href="https://goo.gl/maps/vJ7sZ-Cmented-_i_" target="_blank" class="map-link">
                                <span class="icon-map-marker icon-white"></span>  Open in Google Maps
                            </a>
                        </div>
                    </div><!-- end modulecontent-->
                </div><!-- end bghelper -->
            </div><!-- end module -->
            <div class="moduletable span3 " id="mod265" data-id="265">
                <div class="bghelper">
                    <h4 class="moduletitle m_title">CERTIFIED ISO STANDARDS</h4>
                    <div class="modulecontent">
                        <div class="custom "  >
                            <p><img class="alignleft" src="image_i/iso-standards-footer.jpg"  alt="ISO STANDARDS" /></p>
                        </div>
                    </div><!-- end modulecontent-->
                </div><!-- end bghelper -->
            </div><!-- end module -->
        </div>
    </div><!-- end #footer1 -->

    <div id="bottom" class="container">

        <div class="row">
            <div class="span6"> </div>
        </div><!-- end row -->

        <div class="row">
            <div class="span12">
                <div class="bottom fixclear">
                    <ul class="social-icons fixclear normal">
                        <li class="title">GET SOCIAL</li>
                        <li class="social-linkedin"><a href="adminhome.php" target="_blank" title="Follow us on LinkedIN">LinkedIN</a></li>
                    </ul>
                    <div class="copyright">
                        <p>&copy2017 The Institute of Technical Power Distribution. All Rights Reserved.</p>
                    </div><!-- end copyright -->
                </div><!-- end bottom -->
            </div>
        </div><!-- end row -->
    </div>
</footer>